<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CatalystNoclip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CatalystNoclip.Properties.Settings>
            <setting name="overlayText" serializeAs="String">
                <value>DEATHS: </value>
            </setting>
            <setting name="resetHotkey" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="overlayColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="overlayToggleHotkey" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="persistentDeath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deathCount" serializeAs="String">
                <value>0</value>
            </setting>
        </CatalystNoclip.Properties.Settings>
    </userSettings>
</configuration>